* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    height: 90vh;
}

.random-container {
    /* border: 1px solid; */
    display: grid;
    grid-template-rows: 0% 35% 30% 15% 10% 10% 0%;
    grid-template-columns: auto;
    padding: 30px;
    text-align: center;
    /* height: 90vh; */
}

.logo-con {
    grid-row: 2;
}

.oval {
    height: 50px;
    width: 100px;
    background-color: #00000088;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);
    filter: blur(15px);
    /* z-index: 3; */
}

.logo-con h1 {
    /* border: 1px solid; */
    font-size: 100pt;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    /* z-index: 4; */
}

.title-con {
    grid-row: 3;
    /* border: 1px solid; */
    background-color: #ffffff88;
    width: 300px;
    height: 140px;
    border-radius: 20px;
    overflow: hidden;
    /* z-index: 1; */
}

.title-con h1 {
    width: 85%;
    font-size: 22pt;
}

.btn-con {
    grid-row: 5;
}

.btn-con button {
    width: 120px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: large;
    background-color: black;
    color: white;
    transition: 0.2s;
    /* z-index: 2; */
}

.btn-con button:hover {
    scale: 1.05;
}

.btn-con button:active {
    scale: 0.95;
    color: #aaa;
}

.subtitle-con {
    grid-row: 6;
    /* border: 1px solid; */
}

.shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.bounce {
    animation-name: bounce;
    animation-duration: 0.5s;
}

.roll {
    animation-name: roll;
    animation-duration: 0.1s;
}

.pop {
    animation-name: pop;
    animation-duration: 0.2s;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0px);
        animation-timing-function: linear;
    }
    18% {
        transform: translate(-50%, -20px);
        animation-timing-function: ease-in-out;
    }
    23% {
        transform: translate(-50%, -20px);
        animation-timing-function: ease-in-out;
    }
    45% {
        transform: translate(-50%, 0px);
        animation-timing-function: linear;
    }
    58% {
        transform: translate(-50%, -8px);
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: translate(-50%, 0);
        animation-timing-function: linear;
    }
    90% {
        transform: translate(-50%, -2px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translate(-50%, 0);
        animation-timing-function: linear;
    }
}

@keyframes roll {
    0% {
        transform: translateY(0px);
        animation-timing-function: linear;
        opacity: 1;
    }
    50% {
        transform: translateY(60px);
        animation-timing-function: linear;
        opacity: 0;
    }
    50.1% {
        transform: translateY(-60px);
        animation-timing-function: linear;
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        animation-timing-function: linear;
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        scale: 1;
    }
    40% {
        scale: 1.1;
        animation-timing-function: ease-in-out;
    }
    90% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}

/* responsive */
@media screen and (max-width: 330px) {
    .main-container {
        max-width: 300px;
    }
    .logo-con h1 {
        transform: translate(-50%, 0px);
    }
    .title-con {
        width: 250px;
    }
}

@media screen and (min-width: 720px) {
    .main-container {
        max-width: 1280px;
    }
    .logo-con h1 {
        font-size: 130pt;
    }
    .oval {
        height: 70px;
        width: 150px;
        transform: translate(-50%, 50px);
    }
    .title-con {
        width: 600px;
    }
}

@media screen and (min-width: 1280px) {
    .main-container {
        max-width: 1280px;
    }
    .oval {
        transform: translate(-50%, 50px);
    }
    .title-con {
        width: 800px;
    }
}