* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}

hr {
    border: 0;
    height: 1px;
    background: #00000044;
    margin: 20px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    height: 100dvh;
    overflow: hidden;
}

.random-container {
    display: grid;
    grid-template-rows: 0% 30% 30% 15% 10% 10% 5%;
    grid-template-columns: auto;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.setting-btn-con {
    position: fixed;
    right: 10%;
    top: 5%;
    z-index: 2;
}

.setting-btn-con img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.1));
    font-size: 50px;
    transition: 0.2s;
    cursor: pointer;
}

.setting-btn-con img:active {
    scale: 0.8;
    filter: brightness(0.8);
}

.logo-con {
    position: relative;
    grid-row: 2;
}

.oval {
    height: 50px;
    width: 100px;
    background-color: #00000088;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 35px);
    filter: blur(15px);
}

.logo-con h1 {
    font-size: 100pt;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    cursor: default;
}

.title-con {
    grid-row: 3;
    background-color: #dddddd88;
    width: 330px;
    height: 140px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.title-con h1 {
    width: 85%;
    font-size: 22pt;
}

.coppiedMsg-con {
    grid-row: 4;
    height: 100%;
}

.coppiedMsg-con p {
    opacity: 0;
}

.rand-btn-con {
    grid-row: 5;
    align-self: end;
}

.rand-btn-con button {
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    font-size: large;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.rand-btn-con button:hover {
    scale: 1.05;
}

.rand-btn-con button:active {
    scale: 0.95;
    color: #aaa;
}

.subtitle-con {
    grid-row: 6;
    align-self: start;
    padding: 30px;
}

.subtitle-con p {
    font-size: 10pt;
}

.hidden {
    display: none;
}

.two-cols {
    display: grid;
    grid-template-columns: 50% 50%;
}

.one-col {
    display: grid;
    grid-template-columns: auto;
}

.setting-container {
    /* display: none; */
    position: absolute;
    background-color: #dddddd88;
    max-width: 400px;
    height: 90dvh;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 25px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow-y: scroll;
    z-index: 3;
}

.close-btn-panel {
    position: sticky;
    top: 0;
    z-index: 4;
}

.closeSetting-btn-con {
    position: absolute;
    top: 0;
    right: 0;
}

.closeSetting-btn-con img {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    transition: 0.2s;
}

.closeSetting-btn-con img:active {
    scale: 0.8;
}

.setting-title {
    display: flex;
    align-items: baseline;
    margin-block: 15px;
}

.setting-title h2 {
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.setting-title h2:active {
    color: #888;
}

/* The container */
.check-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-block: 8px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-wrap: nowrap;
}

/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #dddddd88;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
    background-color: orangered;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.reset-btn {
    margin-top: 10px;
    color: brown;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.bounce {
    animation-name: bounce;
    animation-duration: 0.6s;
}

.roll {
    animation-name: roll;
    animation-duration: 3s;
}

.pop {
    animation-name: pop;
    animation-duration: 0.2s;
}

.squish {
    animation-name: squish;
    animation-duration: 0.2s;
}

.showAndHide {
    animation-name: showAndHide;
    animation-duration: 2s;
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 0.4s;
}

.slide-out {
    animation-name: slide-out;
    animation-duration: 0.4s;
}

@keyframes bounce {
    0%, 45%, 70%, 100% {
        transform: translate(-50%, 0);
        animation-timing-function: linear;
    }
    18%, 23% {
        transform: translate(-50%, -20px);
        animation-timing-function: ease-in-out;
    }
    58% {
        transform: translate(-50%, -8px);
        animation-timing-function: ease-in-out;
    }
    90% {
        transform: translate(-50%, -2px);
        animation-timing-function: ease-in-out;
    }
}

@keyframes roll {
    0%, 100% {
        scale: 1;
        animation-timing-function: ease-out;
    }
    5% {
        scale: 0.9;
    }
}

@keyframes pop {
    0%, 100% {
        scale: 1;
    }
    40% {
        scale: 1.1;
        animation-timing-function: ease-in-out;
    }
    90% {
        scale: 0.95;
    }
}

@keyframes squish {
    0%, 100% {
        scale: 1;
    }
    40% {
        scale: 0.9;
    }
}

@keyframes showAndHide {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
    
@keyframes slide-out {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, 100%);
    }
}

/* responsive */
@media screen and (max-width: 360px) {
    .main-container {
        max-width: 300px;
    }
    .logo-con h1 {
        transform: translate(-50%, 0px);
    }
    .title-con {
        width: 250px;
    }
    .setting-title h2 {
        font-size: 16pt;
    }
    .setting-title p {
        font-size: 10pt;
    }
    .check-container {
        font-size: 12pt;
    }
}

@media screen and (min-width: 1024px) {
    .main-container {
        grid-template-columns: auto auto;
        gap: 50px;
        max-width: 1280px;
        height: 100vh;
    }
    .setting-btn-con {
        display: none;
    }
    .logo-con h1 {
        font-size: 120pt;
    }
    .random-container {
        width: 400px;
        grid-column: 2;
        grid-row: 1;
        grid-template-rows: 7% 25% 30% 6% 10% 10% 10%;
    }
    .title-con {
        width: 400px;
    }
    .rand-btn-con button {
        scale: 1.1;
    }
    .rand-btn-con button:hover {
        scale: 1.15;
    }
    .rand-btn-con button:active {
        scale: 1;
    }
    .setting-container {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        display: block;
        width: 400px;
        background-color: #ffffff33;
        border: 1px solid #00000000;
    }
    .closeSetting-btn-con {
        display: none;
    }
}